.videoDetails {
	display: flex;
	padding: 10%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.video {
	flex: 5;
	justify-content: center;
	display: flex;
	align-items: center;
}

.videoPlayer {
	min-height: 60vh;
	min-width: 60vw;
	max-height: 100%;
}
.about {
	flex: 1;
	color: white;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.videoDetails {
		flex-direction: column-reverse;
	}
}

.author {
	display: flex;
	flex-direction: row;
}
